*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
}


h1 {
    margin-top:60px ;
    margin-bottom: 20px;
    color: #002C5C;
}

h3{
    color: #002C5C;
    margin-bottom: 24px;

}
.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e7eb;
}

.s-card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.01);
    font-weight: 500;
}

.jobs-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filters {
    margin-bottom: 20px;
}

.filters button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 12px;
    width: 80px;
    height: 32px;
    font-weight: 500;
}

.filters .active {
    background: #2563eb;
   color: white;
}

.filters button:not(.active) {
    background: white;
}
.card {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.01);
    margin-bottom: 20px;

}

.compayName{
    font-weight: bold;
    color: #002C5C;
}

.jobName{
    font-size: 14px;
    color:  #64748B;
    margin: 4px 0;
}

.jobDescription{
    font-size: 13px;
    color: #64748B;
}

.notes {
    font-size: 14px;
    margin-bottom: 20px;
}
.status {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px 0;
    background: #e3eaf9;
    color: #002C5C;
    font-weight: 500;
}


.action-btn button{
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid;
    background: transparent;
}

.interview-btn {
    color: #10b981;
    border-color: #10b981;
}

.rejected-btn {
    color: #ef4444;
    border-color: #ef4444;
}






@media (max-width: 768px) {
    .summary {
        grid-template-columns: 1fr;
    }
}